@{
    ViewData["Title"] = "Edit Properties";
}
<h2>@ViewData["Title"]</h2>

<li><a asp-area="" asp-controller="Colors" asp-action="Index">Colors</a></li>
<li><a asp-area="" asp-controller="Genders" asp-action="Index">Genders</a></li>
<li><a asp-area="" asp-controller="Sizes" asp-action="Index">Sizes</a></li>
<li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
<li><a asp-area="" asp-controller="ProductTypes" asp-action="Index">Product Types</a></li>
<li><a asp-area="" asp-controller="Territories" asp-action="Index">Territories</a></li>
<li><a asp-area="" asp-controller="States" asp-action="Index">States</a></li>
<li><a asp-area="" asp-controller="Styles" asp-action="Index">Styles</a></li>
<li><a asp-area="" asp-controller="BoothItems" asp-action="Index">BoothItems</a></li>
<li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a><i> *can only add total quantities here, new products are created by making styles</i></li>
<li><a asp-area="" asp-controller="ProductKits" asp-action="Index">Product Kits</a></li>
<li><a asp-area="" asp-controller="EventCategories" asp-action="Index">Event Categories</a></li>
<li><a asp-area="" asp-controller="SwagItems" asp-action="Index">Master Swag Items Inventory</a></li>
<li><a asp-area="" asp-controller="SwagItems" asp-action="TerritorySwagItemsIndex">Territory Swag Items Inventories</a></li>






